body {
    margin: 0px;
}
.pic1 {
    width: 400px;
    height: 600px;
}
.pic2 {
    width: 400px;
    height: 600px;
}
.pic3 {
    width: 1200px;
    height: 800px;
}
.picframe {
    border: 2px solid yellowgreen;
    width: 400px;
    height: 600px;
    display: inline-block;
    text-align: center;
}
.picframe2 {
    border: 2px solid burlywood;
    width: 1200px;
    height: 800px;
    display: inline-block;
    text-align: center;
}
a {
    font-size: 30px;
    color: blueviolet;
    text-decoration: none;
    text-align: center;
}